    .header-area {
        Background: #0363cd;
    }
    
    .header-top {
        background: #0363cd;
        width: 100%;
        height: 50px;
        color: #fff;
    }
    
    .pb-10 {
        padding-bottom: 10px;
    }
    
    .pt-10 {
        padding-top: 10px;
    }
    
    .header-top ul {
        list-style: none;
    }
    
    .header-top-left {
        display: flex;
    }
    
    a {
        text-decoration: none;
    }
    
    .lang-menu {
        display: inline-block;
        margin-right: 42px;
        position: relative;
    }
    
    .selected-lang {
        cursor: pointer;
        display: flex;
        line-height: 1.5;
    }
    
    .line-top {
        background-color: rgba(255, 255, 255, 0.2);
        top: 0px;
    }
    
    .lang-menu ul {
        margin: 0;
        padding: 0;
        background: #fff;
        border: 1px solid #f8f8f8;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 1);
        border-radius: 5px;
        display: none;
    }
    
    .lang-menu ul li {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    
    .lang-menu ul li a {
        width: 140px;
        display: block;
        padding: 5px 10px;
    }
    
    .lang-menu ul li a:before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        vertical-align: middle;
    }
    
    .lang-menu ul li a:hover {
        background-color: #f2f2f2;
    }
    
    .vn:before {
        background-image: url(../images/flags/vn_16.png);
    }
    
    .us:before {
        background-image: url(../images/flags/us_16.png);
    }
    
    .jp:before {
        background-image: url(../images/flags/jp_16.png);
    }
    
    .cn:before {
        background-image: url(../images/flags/cn_16.png);
    }
    
    .lang-menu:hover ul {
        display: block;
    }
    
    .currency-menu {
        display: inline-block;
        position: relative;
    }
    
    .lang-crr-dropdown {
        display: inline-block;
        float: right;
    }
    
    .lang-curr-dropdown ul li {
        list-style: outside none none;
        position: relative;
        cursor: pointer;
    }
    
    .lang-curr-dropdown ul li a i {
        margin-left: 0;
        position: relative;
        top: -2px;
    }
    
    .lang-curr-dropdown ul li ul {
        background: #fff none repeat scroll 0 0;
        border: medium none;
        border-radius: 2px;
        box-shadow: 0 0 7px 0.5px #00000026;
        display: none;
        left: 0;
        padding: 15px 14px;
        position: absolute;
        width: 100px;
        z-index: 99;
        top: 150%;
    }
    
    .lang-curr-dropdown ul li ul li {
        padding-bottom: 7px;
    }
    
    .lang-crr-dropdown .curr-dropdown {
        margin: 0;
        padding: 0;
        background: #fff;
        border: 1px solid #f8f8f8;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 1);
        border-radius: 5px;
        color: #000;
        display: none;
    }
    
    .lang-crr-dropdown:hover .curr-dropdown {
        display: block;
    }
    
    .header-top-right {
        float: right;
    }
    
    .header-top-right ul li {
        display: inline-block;
        float: left;
        margin-left: 30px;
    }
    
    .header-top-right ul li a {
        color: #fff;
    }
    /* Header middle */
    
    .pb-40 {
        padding-bottom: 40px;
    }
    
    .pt-40 {
        padding-top: 40px;
    }
    
    .f-right {
        float: right;
    }
    
    .hdm-border-top {
        border-top: 1px solid #1d73d2;
        margin-bottom: 50px;
    }
    
    .hdm-bg {
        background: #0363cd;
    }
    
    .logo.logo-mrg {
        margin-top: -10px;
    }
    
    .header-contact {
        margin-top: 8px;
    }
    
    .middle-same {
        display: inline-block;
        float: left;
        margin-left: 45px;
    }
    
    .header-contact-icon {
        display: inline-block;
        float: left;
        margin-right: 14px;
    }
    
    .header-contact-content {
        display: inline-block;
        float: left;
        overflow: hidden;
        margin: -5px;
    }
    
    .header-search form {
        position: relative;
    }
    
    form {
        margin-bottom: 0;
    }
    
    .header-search form input {
        background: transparent none repeat scroll 0 0;
        border: 2px solid #1d73d2;
        box-shadow: none;
        color: #76b4fa;
        font-size: 13px;
        height: 45px;
        padding: 0 45px 0 16px;
        width: 330px;
        border-radius: 0 7px 7px 0;
    }
    
    .input-search::placeholder {
        color: #fff;
    }
    
    .header-search form button {
        background-color: #047afe;
        border: medium none;
        border-radius: 0 5px 5px 0;
        color: #fff;
        cursor: pointer;
        font-size: 20px;
        height: 100%;
        padding: 0 14px;
        position: absolute;
        right: 0;
        top: 0;
        transition: all .3s ease 0s;
    }
    
    .middle-same {
        display: inline-block;
        float: left;
        margin-left: 45px;
    }
    
    .header-cart {
        position: relative;
    }
    
    button.icon-cart {
        background-color: transparent;
        border: 2px solid #1d73d2;
        cursor: pointer;
        padding: 9px 12px 6px;
        position: relative;
    }
    
    button .fa-cart-shopping {
        color: #fff;
        border-right: 1px solid #1d73d2;
        font-size: 27px;
        margin-right: 7px;
        padding-right: 10px;
    }
    
    button.icon-cart span.count-amount {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        position: relative;
        top: -6px;
        transition: all .3s ease 0s;
    }
    
    button .fa-chevron-down {
        color: #76b4fa;
        font-size: 12px;
        margin-left: 5px;
        position: relative;
        top: -6px;
    }
    
    button .count-style {
        background-color: #047afe;
        border-radius: 100%;
        display: inline-block;
        font-size: 12px;
        font-weight: 400;
        height: 26px;
        left: -13px;
        line-height: 26px;
        position: absolute;
        top: -13px;
        width: 26px;
        color: #fff;
    }
    
    .shopping-cart-content {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #ebebeb;
        border-radius: 5px;
        padding: 31px 35px 10px;
        position: absolute;
        right: 0;
        top: 100%;
        width: 340px;
        z-index: 9999;
        max-height: 500px;
        overflow: auto;
    }
    
    .shopping-cart-empty>h4 {
        font-size: 14px;
        text-align: center;
    }
    
    .shopping-cart-empty {
        margin: 25px 0 0;
    }
    
    .shopping-cart-btn {
        margin-top: 23px;
    }
    
    .shopping-cart-btn a {
        margin-bottom: 15px;
    }
    
    .btn-style {
        background-color: transparent;
        border: 2px solid #eeeeee;
        color: #242424;
        display: block;
        font-size: 14px;
        font-weight: 500;
        padding: 14px 20px 12px;
        text-align: center;
        text-transform: uppercase;
        transition: all .3s ease 0s;
    }
    
    .shopping-cart-btn a {
        margin-bottom: 15px;
    }
    
    .shopping-cart-content {
        display: none;
    }
    
    .shopping-cart-content:hover {
        display: block
    }
    /* Header bottom */
    
    .header-bottom {
        position: relative;
    }
    
    .hbottom_border {
        border-top: 1px solid #1d73d2;
    }
    
    .header-bottom-yellow {
        background-color: #0363cd;
    }
    
    .main-menu ul li {
        display: inline-block;
        list-style: outside none none;
        margin-right: 49px;
        position: relative;
    }
    
    .main-menu ul li a {
        color: #ffffff;
        display: inline-block;
        font-weight: 500;
        line-height: 55px;
        text-transform: uppercase;
    }
    
    .main-menu.elec-menu nav>ul>li:hover>a {
        color: #ddd;
    }
    
    .main-menu ul li a i {
        color: #76b4fa;
        font-size: 12px;
        margin-left: 6px;
    }
    
    .main-menu nav>ul>li>ul.mega-menu {
        background-color: rgba(255, 255, 255, 0.97);
        border-top: 1px solid #dcdcdc;
        display: block;
        left: 0;
        padding: 33px 0px 62px 0;
        position: absolute;
        text-align: left;
        top: 100%;
        transform: rotateX(90deg);
        transform-origin: center top 0;
        transition: all 0.5s ease 0s;
        visibility: hidden;
        width: 100%;
        z-index: 999;
    }
    
    .main-menu nav>ul>li>ul.submenu {
        background: #fff none repeat scroll 0 0;
        border-top: 1px solid #dcdcdc;
        box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, 0.15);
        display: block;
        left: 0;
        padding: 20px 20px 24px;
        position: absolute;
        top: 100%;
        transition: all 0.5s ease 0s;
        visibility: hidden;
        width: 190px;
        z-index: 999;
        transform: rotateX(90deg);
        transform-origin: center top 0;
    }
    
    .main-menu nav>ul>li:hover>ul.submenu,
    .main-menu nav>ul>li:hover>ul.mega-menu {
        transform: rotateX(0deg);
        visibility: visible;
    }
    
    .mega-menu>li>ul>li {
        border-right: 1px solid #ebebeb;
        display: inline-block;
        float: left;
        margin-right: -15px;
        width: 19%;
        color: #000;
    }
    
    .mega-menu>li {
        width: 1170px;
        margin: 0 auto;
    }
    
    .mega-menu-title {
        color: #242424;
        font-size: 14px;
        font-weight: 500;
        margin: 0 0 17px;
    }
    
    .main-menu ul li ul li {
        margin-right: 0;
        display: block;
    }
    
    .main-menu ul li ul li a,
    .sidebar-menu ul li ul li a,
    .category-menu ul li ul li a {
        color: #555;
        font-weight: 400;
        line-height: 28px;
        text-transform: capitalize;
        display: block;
        text-align: left;
    }
    
    .mega-menu>li>ul>li ul li a {
        display: inline-block;
        position: relative;
    }
    
    .main-menu ul li a {
        color: #fff;
        display: inline-block;
        font-weight: 500;
        line-height: 55px;
        text-transform: uppercase;
        margin-bottom: -10px;
        font-size: 12px;
    }
    
    .main-menu ul li ul li a:hover {
        color: #0363cd;
        padding-left: 10px;
    }
    
    .main-menu ul li.mega-menu-position {
        position: static;
    }
    
    .main-menu nav>ul>li>ul.mega-menu>li {
        width: 1170px;
        margin: 0 auto;
    }
    
    .main-menu ul li ul>li.mega-menu-title,
    .sidebar-menu ul li ul>li.mega-menu-title,
    .category-menu ul li ul>li.category-mega-menu-title {
        color: #242424;
        font-size: 14px;
        font-weight: 500;
        margin: 0 0 17px;
    }
    
    .main-menu nav>ul>li>ul.mega-menu>li>ul>li {
        border-right: 1px solid #ebebeb;
        display: inline-block;
        float: left;
        margin-right: 16px;
        width: 16%;
    }
    
    .main-menu nav>ul>li>ul.mega-menu>li>ul>li:last-child {
        border-right: none;
    }
    
    .main-menu nav>ul>li>ul.mega-menu>li>ul>li ul li a,
    .sidebar-menu nav>ul>li>ul.mega-menu>li>ul>li ul li a {
        display: inline-block;
        position: relative;
    }
    
    .main-menu.elec-menu nav>ul>li>ul.mega-menu>li>ul>li>ul>li:hover>a {
        color: #0363cd;
    }
    
    .main-menu nav>ul>li>ul.mega-menu>li>ul>li ul li a span,
    .sidebar-menu nav>ul>li>ul.mega-menu>li>ul>li ul li a span {
        border-radius: 3px;
        color: #fff;
        font-size: 13px;
        line-height: 1;
        padding: 2px 5px 3px;
        position: absolute;
        right: -40px;
        top: 7px;
    }
    
    .header-bottom-autoparts .main-menu nav>ul>li>ul.mega-menu>li>ul>li ul li a span {
        padding: 3px 5px 2px;
        font-size: 14px;
    }
    
    .main-menu ul li ul li {
        margin-right: 0;
        display: block;
    }
    /* Main */
    /* Banner + Slider */
    
    .slider-area {
        background: #fff;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .bg-img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    
    .slider-btn a {
        background-color: transparent;
        border: 2px solid #ffffff;
        border-radius: 5px;
        color: #fff;
        display: inline-block;
        font-weight: 500;
        padding: 13px 37px;
        text-transform: uppercase;
    }
    
    .slider-btn a:hover {
        background-color: #0363cd;
        color: #fff;
        border: 2px solid #0363cd;
    }
    
    .slider-active.owl-dot-style .owl-dot {
        background: #4b4f53 none repeat scroll 0 0;
        display: none;
    }
    
    .slider-active.owl-dot-style .owl-dot.active {
        background: #fff none repeat scroll 0 0;
        display: none;
    }
    
    .slider-content span {
        color: #ffffff;
    }
    
    .owl-item.active .slider-animated-1 h2 {
        line-height: 50px;
    }
    /* Banner - area */
    
    .banner-area {
        margin-top: 0px;
        margin-bottom: 65px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .banner-img img {
        width: 100%;
    }
    
    .banner-hover {
        position: relative;
    }
    
    .banner-hover:before,
    .banner-hover:after {
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: all .5s ease 0s;
        z-index: 1;
    }
    
    .banner-negative-mrg-2 {
        margin-top: -1px;
    }
    
    .banner-hover:hover::after {
        background-color: rgba(255, 255, 255, 0.3);
        bottom: 50%;
        top: 50%;
    }
    
    .banner-hover:hover::before {
        background-color: rgba(255, 255, 255, 0.3);
        left: 50%;
        right: 50%;
    }
    /* Product area */
    /* Tab */
    
    .mb-30 {
        margin-bottom: 30px;
    }
    
    .product-tab-list,
    .product-tab-list-3 {
        display: flex;
        justify-content: center;
        position: relative;
    }
    
    .product-tab-list:before,
    .product-tab-list:after {
        background-color: #eee;
        content: "";
        height: 1px;
        position: absolute;
        top: 25px;
        transition: all .4s ease 0s;
        width: 300px;
    }
    
    .product-tab-list::before {
        left: 0px;
    }
    
    .product-tab-list::after {
        right: 0px;
    }
    
    .product-tab-list>a {
        margin: 0 5px;
    }
    
    .product-tab-list>a h4 {
        border: 2px solid #eee;
        display: inline-block;
        font-size: 18px;
        font-weight: 500;
        padding: 13px 32px 12px;
        transition: all .3s ease 0s;
    }
    
    .product-tab-list>a h4 {
        border: 2px solid #eee;
        color: #242424;
    }
    
    .product-tab-list>a.active h4 {
        border: 2px solid #0363cd;
        color: #0363cd;
    }
    
    .product-tab-list>a {
        position: relative;
        z-index: 1;
        background: #fff;
    }
    
    .custom-row {
        display: flex;
        flex-wrap: wrap;
    }
    
    .custom-col-5 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    
    .product-2 {
        background: #fff none repeat scroll 0 0;
        border-radius: 4px;
        position: relative;
        text-align: left;
        transition: all .4s ease-out 0s;
        word-wrap: break-word;
        z-index: 1;
        margin: 15px 4px;
    }
    
    .tab-content>.tab-pane {
        display: block;
        height: auto;
        opacity: 1;
        overflow: visible;
    }
    
    .product-img-slider .cr-navigation {
        background: rgba(239, 239, 239, 0.9) none repeat scroll 0 0;
        border-radius: 100%;
        color: #242424;
        cursor: pointer;
        display: inline-block;
        font-size: 20px;
        height: 36px;
        left: 10px;
        line-height: 36px;
        opacity: 0;
        position: absolute;
        text-align: center;
        top: 50%;
        transition: all 0.3s ease-out 0s;
        width: 36px;
        z-index: 1;
        transform: translateY(-50%);
    }
    
    .product-image img {
        width: 100%;
    }
    
    .product-2 .product-img {
        padding: 10px 10px 0;
        position: relative;
    }
    
    .product-content {
        padding: 3px 18px 0;
    }
    
    .product-pricer {
        display: block;
        transition: all .3s ease 0s;
    }
    
    .product-content>h4 a,
    .product-list-content>h4 a {
        color: #242424;
        font-size: 14px;
    }
    
    .product-img>span {
        font-size: 14px;
    }
    
    .product-img>span {
        background-color: #0363cd;
        border-radius: 3px;
        color: #fff;
        left: 15px;
        line-height: 1;
        padding: 6px 14px 5px;
        position: absolute;
        top: 15px;
        z-index: 99;
    }
    
    .product-price-old {
        text-decoration: line-through;
    }
    
    .sold-out {
        background-color: red!important;
        cursor: not-allowed!important;
        color: #fff!important;
    }
    /* Banner-area-3 */
    
    .connect-area {
        background-image: url(../images/banner3.jpg);
        margin-top: 30px;
        margin-bottom: 0px;
        padding-top: 110px;
        padding-bottom: 110px;
    }
    
    .connect-content>h2 {
        font-size: 48px;
        font-weight: 300;
        letter-spacing: -.5px;
        line-height: 48px;
        margin: 0;
    }
    
    .connect-content>p {
        font-size: 18px;
        font-weight: 300;
        margin: 41px 0 14px;
    }
    
    .connect-content>h4 {
        color: #0363cd;
        font-size: 30px;
        margin: 0 0 75px;
    }
    
    .btn-style-2 {
        background-color: #0363cd;
        border-radius: 3px;
        color: #fff;
        display: inline-block;
        font-size: 13px;
        font-weight: 500;
        line-height: 1;
        padding: 17px 37px 18px;
        text-transform: uppercase;
    }
    
    .btn-style-2:hover {
        color: #fff;
        background-color: #242424;
        border-color: #242424;
    }
    /* Best selling product */
    
    .best-selling-area {
        background: #f8f9f9;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 65px;
        padding-bottom: 45px;
    }
    
    .pb-25 {
        padding-bottom: 25px;
    }
    
    .pt-55 {
        padding-top: 55px;
    }
    
    .mb-20 {
        margin-bottom: 20px;
    }
    
    .section-border {
        margin-right: 94px;
        overflow: hidden;
        position: relative;
    }
    
    .section-border:before {
        background-color: #eee;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        top: 10px;
        transition: all .4s ease 0s;
        width: 100%;
        z-index: 1;
    }
    
    .section-title {
        text-transform: unset;
    }
    
    .section-title-wrapper,
    .product-tab-list-2 {
        z-index: 1;
        position: relative;
    }
    
    .section-title-wrapper {
        display: inline-block;
        float: left;
        padding: 0 20px 0 0;
    }
    
    .product-tab-list-2 {
        display: inline-block;
        float: right;
        padding: 0 0 0 20px;
    }
    
    .product-tab-list-2 a {
        display: inline-block;
        margin-left: 15px;
        cursor: pointer;
        z-index: 99;
    }
    
    .product-tab-list-2 a:first-child {
        margin-left: 0px;
    }
    
    .product-tab-list-2 a h4 {
        color: #777;
        font-size: 14px;
        transition: all .3s ease 0s;
    }
    
    .product-tab-list-2 a.active h4 {
        color: #242424;
    }
    
    .tab-content.jump>.tab-pane {
        display: block;
        height: 0;
        opacity: 0;
        overflow: hidden;
    }
    
    .tab-content.jump>.tab-pane.active {
        display: block;
        height: auto;
        opacity: 1;
        overflow: visible;
    }
    
    .best-selling-pro-wrapper .product-img {
        flex: 0 0 180px;
        position: relative;
    }
    
    .best-selling-pro-wrapper {
        background-color: #fff;
        border-radius: 3px;
        display: flex;
        transition: all .3s ease 0s;
    }
    
    .product-content.best-pro-content {
        padding: 13px 13px 5px 10px;
    }
    
    .product-content>span {
        color: #555;
        font-size: 13px;
    }
    
    .product-content>h4 {
        font-size: 14px;
        line-height: 18px;
        margin: 8px 0 13px;
    }
    
    .product-price-wrapper {
        display: block;
        transition: all .3s ease 0s;
    }
    
    .product-price-wrapper>span {
        color: #242424;
        margin: 0 2px;
    }
    
    .nav-style.owl-carousel .owl-nav .owl-prev {
        background-color: #efefef;
        border-radius: 3px;
        color: #242424;
        display: inline-block;
        font-size: 16px;
        height: 35px;
        line-height: 35px;
        opacity: 1;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        transition: all .3s ease 0s;
        width: 35px;
    }
    
    .nav-style.owl-carousel .owl-nav .owl-next {
        background-color: #efefef;
        border-radius: 3px;
        color: #242424;
        display: inline-block;
        font-size: 16px;
        height: 35px;
        line-height: 35px;
        opacity: 1;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        transition: all .3s ease 0s;
        width: 35px;
    }
    
    .best-selling-active.nav-style.owl-carousel .owl-nav .owl-prev {
        top: -54px;
    }
    
    .best-selling-active.nav-style.owl-carousel .owl-nav .owl-next {
        top: -54px;
    }
    
    .nav-style.owl-carousel .owl-nav .owl-prev {
        right: 0px;
    }
    /* Top product */
    
    .mb-10 {
        margin-bottom: 10px;
    }
    
    .product-top {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 65px;
        padding-bottom: 25px;
        background: #fff;
    }
    
    .product-slider-nav.nav-style,
    .product-slider-nav-2.nav-style {
        float: right;
        margin-top: -42px;
        position: relative;
        z-index: 99;
        margin-bottom: 0;
    }
    
    .product-slider-nav.nav-style .owl-prev {
        background-color: #efefef;
        border-radius: 3px;
        color: #242424;
        display: inline-block;
        font-size: 16px;
        height: 35px;
        line-height: 35px;
        opacity: 1;
        text-align: center;
        transition: all .3s ease 0s;
        width: 35px;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .product-slider-nav.nav-style .owl-next {
        background-color: #efefef;
        border-radius: 3px;
        color: #242424;
        display: inline-block;
        font-size: 16px;
        height: 35px;
        line-height: 35px;
        opacity: 1;
        text-align: center;
        transition: all .3s ease 0s;
        width: 35px;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .nav-style .owl-prev {
        margin-right: 40px;
    }
    
    .section-title {
        z-index: 1!important;
        position: relative;
    }
    
    .section-title {
        font-size: 20px;
        font-weight: 500;
        margin: 0;
        padding-right: 30px;
        display: inline-block;
    }
    /* Brand logo */
    
    .brand-logo-area {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        background: #fff;
    }
    
    .border-top-2 {
        border-top: 1px solid #ebebeb;
    }
    
    .ptb-60 {
        padding: 60px 0;
    }
    
    .single-brand-logo {
        cursor: pointer;
        text-align: center;
    }
    
    .brand-logo-active.owl-carousel .owl-item img {
        text-align: center;
        width: auto;
        display: inline-block;
    }
    /* Shop service */
    
    .shop-service-area {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 65px;
        padding-bottom: 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        background: #282829;
    }
    
    .shop-service-wrapper {
        border: 1px solid #323232;
        padding: 15px 10px 17px;
        background: #242426;
    }
    
    .shop-service-content {
        position: relative;
    }
    
    .shop-service-content:before,
    .shop-service-content-3:before {
        background-color: #323232;
        content: "";
        height: 32px;
        position: absolute;
        right: 0;
        top: 3px;
        transition: all .4s ease 0s;
        width: 1px;
    }
    
    .shop-service-content>h4 {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        margin: 0 0 2px;
    }
    
    .shop-service-content>p {
        color: #757575;
        font-size: 13px;
        line-height: 18px;
        margin: 0;
    }
    /* Footer */
    /* Footer top */
    
    .pb-25 {
        padding-bottom: 25px;
    }
    
    .pt-65 {
        padding-top: 65px;
    }
    
    .footer_top {
        background: #282829;
        border-top: 1px solid rgba(0, 0, 0, 0);
    }
    
    .mb-40 {
        margin-bottom: 40px;
    }
    
    .mb-30 {
        margin-bottom: 30px;
    }
    
    .footer-title>h4 {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        margin: 0;
    }
    
    .footer-map {
        margin: 8px 0 21px;
    }
    
    .mr-40 {
        margin-right: 40px;
    }
    
    .social-icon {
        margin-top: 22px;
    }
    
    .social-icon ul li {
        display: inline-block;
        list-style: outside none none;
        margin: 0 8px 10px 0;
    }
    
    .social-icon li a {
        font-size: 18px;
        width: 38px;
        height: 38px;
        border-radius: 50px;
        line-height: 36px;
        color: #fff;
        display: inline-block;
        text-align: center;
    }
    
    .social-icon ul {
        padding-left: 0rem;
    }
    
    .social-icon li a.facebook {
        background-color: #3c5b9b;
        border: 2px solid #3c5b9b;
    }
    
    .social-icon li a.twitter {
        background-color: #40c1df;
        border: 2px solid #40c1df;
    }
    
    .social-icon li a.instagram {
        background-color: #c619b8;
        border: 2px solid #c619b8;
    }
    
    .social-icon li a.googleplus {
        background-color: #ed3c32;
        border: 2px solid #ed3c32;
    }
    
    .social-icon li a.rss {
        background-color: #eb8314;
        border: 2px solid #eb8314;
    }
    
    .social-icon li a.dribbble {
        background-color: #c72982;
        border: 2px solid #c72982;
    }
    
    .social-icon li a.vimeo {
        background-color: #82a418;
        border: 2px solid #82a418;
    }
    
    .social-icon li a.pinterest {
        background-color: #c62a21;
        border: 2px solid #c62a21;
    }
    
    .social-icon li a.skype {
        background-color: #07a4c6;
        border: 2px solid #07a4c6;
    }
    
    .footer-title>h4 {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        margin: 0;
    }
    
    .footer-content ul {
        padding-left: 0rem;
    }
    
    .footer-content ul li {
        list-style: outside none none;
        padding-bottom: 15px;
    }
    
    .footer-content ul li a {
        color: #ddd;
        display: block;
    }
    
    .footer-contact p,
    .opening-content p {
        color: #ddd;
        font-size: 14px;
        margin: 0 0 8px;
    }
    
    .opening-time>h4 {
        margin: 21px 0 22px;
    }
    /* Footer middle */
    
    .pb-65 {
        padding-bottom: 65px;
    }
    
    .pt-65 {
        padding-top: 65px;
    }
    
    .footer-middle {
        padding: 0 12px;
    }
    
    .footer-tag ul li {
        display: inline-block;
        margin: 0 10px 5px;
        position: relative;
    }
    
    .footer-tag ul li:before {
        background-color: #666;
        content: "";
        height: 2px;
        position: absolute;
        right: -19px;
        top: 11px;
        transform: rotate(-67deg);
        transition: all .4s ease 0s;
        width: 15px;
    }
    
    .footer-tag ul li a {
        color: #dddddd;
    }
    
    .mt-20 {
        margin-top: 20px;
    }
    
    .payment-icon img {
        max-width: 100%;
    }
    /* Footer bottom */
    
    .footer-bottom {
        background: #242426;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .pb-20 {
        padding-bottom: 20px;
    }
    
    .pt-20 {
        padding-top: 20px;
    }
    
    .copyright>p {
        color: #ffffff;
    }